body {
  background-image:url('house2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px;
}
article {
  background: transparent;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content-box {
  background-color: transparent;
  width: 80%;
  margin: 0px auto;
}
.navi {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  padding: 0px;
}
.navi ul {
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}
.navi li {
  display: inline-block;
  width: 20%;
  padding: 40px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}
.navi li a {
  font-size: 19px;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'EB Garamond', serif;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.navi li a:hover{
  text-decoration: none;
}
.navi li:hover {
  background-color: rgba(0,0,0,0.4);
}
.header {
  background-image:url('dogs.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 400px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 19vh 0 0 11vw;
}
.header h1 {
  color: #fff;
  font-size: 56px;
  font-family: 'EB Garamond', serif;
  text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.header h2 {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 22px;
  color: #fff;
  margin-left: 8vw;
  text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.content {
  background-color: rgba(255,255,255,0.95);
  width: 100%;
  min-height: 50vh;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 50px 80px 50px 80px;
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  line-height: 38px;
  color: #363636;
  text-align: justify;
}
.content h1 {
  color: #487354;
  font-size: 26px;
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
}
footer {
  width: 100%;
  padding: 40px;
  color: #c2c2c2;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 33px;
}
footer a {
  color: #c2c2c2;
  text-decoration: none;
}
footer a:hover {
    text-decoration: none;
    color: #c2c2c2;
}
